body   {
      font-family: 'Open Sans', sans-serif;

}
.text-primary {
      color:palevioletred

}

.nav{
      border-spacing: 5px;
      background-color: rgb(243, 230, 232);
}     
nav li{
      list-style: none;
}
.btn{
      border: radius 5px;
      background-color:crimson;
      
}